* {
box-sizing: border-box;
font-family: 'Roboto Mono', monospace, sans-serif;       
}

body {
    margin: 0 auto;
    padding: 0;
}

h1,
h2,
h3 {
    margin: 0;
}

h1{
    padding-top: 15px;
}


a {
 text-decoration: none;
 color: black;
}

a:hover {
    color: #944e4e;
}

li {
    list-style-type:none;
    margin-bottom: .5em;
    
    
}

p {
    font-size: .9em;
}

img {
    max-width: 100%;
}

ul {
   padding:0;
   padding-top: 15px;
   margin-bottom: 3em;
}

header {
    background-color: #f2f2f2;
}

.second-div {
    display: none;
}

.hidden {
    display:none;
}


/***************************
Main Header
***************************/


/* ---- Nav ---- */

.student-name,
.main-nav {
    text-align:center;
    display: block;
    width: 90%;
    margin: 0 auto;
}

.main-nav li {
    font-size: 1.5em;
    background-color: white;
}

.headline {
    text-align:center;
}

.main-header {
    width: 100%;
    
}

.headline-text {
    width: 80%;
    margin: auto;
    font-size: 1.2em;
    padding-bottom: 3em;
}




/***************************
Portfolio
***************************/

#main-portfolio {
    text-align: center;
    width: 100%;
    padding: 1em;
    


}

#main-portfolio h2 {
    padding: 2em 0;

}

#main-portfolio h3 {
    padding-top: 1.4em;
    padding-bottom: 1.5em;
    font-size: 1.4em;
    
}

.marketing-page,
.search-page,
.travel-app,
.favorite-spots,
.photo-gallery,
.calculator {
    margin-bottom: 3em;

}

#main-portfolio p {
    font-size: 1.3em;
    font-family: 'Quicksand', sans-serif;
}

.calculator {
    padding-bottom: 2em;
}


/***************************
Skills
***************************/

#main-skills {
    text-align: center;
    background-color: #f2f2f2;
    padding-bottom: 20px;
    width: 100%;
    

}



#main-skills h2 {
    padding-top: 3em;
}

#main-skills li {
  width:90%;
  margin: auto;
  margin-bottom: .5em;
  font-size: 1.5em;
  background-color: white;
  color: #636363;

}





/***************************
Contact
***************************/



#main-contact {
    background-color: #f2f2f2;
    text-align: center;
    width: 100%;
    padding-bottom: 3em;
}


#main-contact h2 {
    padding-bottom: 1.2em;
}

.contact-info {
    width: 90%;
    margin: 0 auto;
}
/***************************
Footer
***************************/


.main-footer {
    background-color: #f2f2f2;
    width: 100%;
    padding: 1em;
    border-top: 2px solid #dfe2e6;
    
    
}

.main-footer h3 {
    float: left;
    
}

.main-footer nav {
    float: right;
}

.main-footer ul {
    margin: 0;
    padding: 0;
}


   
/***************************
Images
***************************/

.profile-img {
    margin: 2em 0;
    width: 70%
  
}




/***************************
Media Queries
***************************/


@media (min-width: 768px) {

    /* ---- Nav and Header ---- */
    
    .main-nav li{
        display: inline-block;
        margin: 1em;
        
    }

    .main-nav a {
        background-color: #f2f2f2;
    }

    .profile-img {
        float: right;
        width: 40%;
        margin: 0 auto;
        
        
    }

    .headline-text {
        float: left;
        width: 50%;
        padding-bottom: 0;
        font-size: 1em;
        text-align:left;
    }

    header {
        padding: 3em;
    }

    /* ---- Portfolio ---- */

    .marketing-page,
    .travel-app,
    .photo-gallery {
        float: left;
        width: 49%;
       
    }

    .search-page,
    .favorite-spots,
    .calculator {
        float: right;
        width: 49%;
    }

   

    /* ---- Skills ---- */

    #main-skills h2 {
        padding-bottom: 2.3em;
    }

    .skill-list {
        max-width:1200px;
        margin: auto;
    }

   
       


    /* ---- Contact ---- */

    #main-contact h2 {
        padding-top: 3em;
    }
    
    .contact-info {
        width: 70%;
        font-size: 1.2em;
        padding-top: 1.3em;
    }


    /* ---- footer ---- */

    .main-footer  h3 {
        font-size: 1.2em;
    }

    .main-footer li {
        font-size: 1.1em;
    }

    .main-footer {
        padding-bottom: 5em;

    }

    .main-footer nav li {
        display: inline-block;
        margin-left: 1em;
    }

    .hidden {
        display: block;
    }

    .backtotop {
        display:none;
    }
}

@media (min-width: 1024px) {

     /* ---- Main ---- */

     body {
         background-color:black;
     }


    /* ---- Header and Nav ---- */

    header {
        margin-left: 3em;
        margin-right: 3em;
        background-color: black;
    }

    .main-header {
        width: 100%;
        color:white;
    }

    .student-name {
       float: left;
       width: 20%;
        font-size: 1.5em;
        text-align: left;

    }

    .main-nav {
        width: 100%;
    
    }

    .main-nav ul{
        float: right;
        margin: 0;
        padding-top: 0;
        width: 50%;
        text-align:right;
        
    }

    .main-nav li {
        font-size: 1em;
        
           
    }

    .main-nav a {
        color:white;
        background-color: black;
    }


    .headline {
        margin-top: 4em;
        color:white;
    }

    .headline-text {
        font-size: 1.5em;
    }

  

    
   
    
    /* ---- Portfolio ---- */

    #main-portfolio {
        width: 90%;
        max-width: 1200px;
        padding-left: 3em;
        padding-right: 3em;
        margin: 0 auto;
        background-color: black;
        color:white;

    }

    
       

    .marketing-page,
    .favorite-spots{
        float: left;
        width: 30%;
        
        
    }

    .search-page,
    .photo-gallery {
        margin-left: 50px;
        float: left;
        width: 30%;
        
    
    }

    .travel-app,
    .calculator {
        float: right;
        width: 30%;
        
    }

}
/***************************
Clearfix
***************************/


.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }